.section-cost {
    background-color: #F6F9FE;
    .section-cost-container {
        &__block {
            margin-top: 2em;
            &--startap,
            &--business {
                z-index: 999;
                text-align: center;
                background: $color-white;
                box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                width: 22%;
                padding: 0;
                &-title {
                    border-radius: 10px 10px 0px 0px;
                    height: 62px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h1 {
                        font-family: $font-family-roboto;
                        font-weight: bold;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                    }
                }
                &-list {
                    ul {
                        padding: 1.2em 0px 1em 105px;
                        li {
                            width: 265px;
                            text-align: left;
                            list-style-type: none;
                            list-style-image: url('/assets/img/correct.svg');
                            font-family: $font-family-roboto;
                            font-weight: normal;
                            line-height: 21px;
                            font-size: 14px;
                            color: #000000;
                        }
                    }
                }
                &-cost {
                    font-family: $font-family-roboto;
                    text-align: center;
                    h1 {
                        font-weight: bold;
                        line-height: 67px;
                        font-size: 64px;
                        color: rgba(0, 0, 0, 0.8);
                    }
                    p {
                        line-height: 19px;
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.6);
                        span {
                            font-weight: normal;
                            line-height: 15px;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.8);
                        }
                    }
                }
                &-button {
                    border-radius: 3px;
                    margin-right: 90px;
                    margin-left: 90px;
                    height: 46px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        text-decoration: none;
                        font-family: $font-family-roboto;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                    }
                }
                &-nocard {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 18px;
                    margin-bottom: 23px;
                    span {
                        font-family: $font-family-roboto;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 11px;
                        text-align: center;
                        color: #000000;
                        margin-left: 0.5rem;
                    }
                }
            }
            &--startap {
                margin-left: 1em;
                &-title {
                    background: #F1EDA5;
                }
                &-cost {
                    margin-top: 2.7em;
                }
                &-button {
                    background: #F0EDA5;
                    margin-top: 0.9em;
                    a {
                        color: #666666;
                    }
                }
            }
            &--business {
                margin-left: 5em;
                &-title {
                    background: #27AE60;
                    h1 {
                        color: $color-white;
                    }
                }
                &-button {
                    background: #27AE60;
                    margin-top: 2.2em;
                    a {
                        color: $color-white;
                    }
                }
            }
        }
        .block-tip-wrapper {
            position: relative;
            width: 475px;
            height: 217px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: -20px;
            z-index: 1;
            .block-tip {
                position: absolute;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                background: #DDF4E9;
                border-radius: 5px;
                p {
                    font-family: $font-family-overpass;
                    line-height: 24px;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                }
                p:first-child {
                    margin-bottom: 15px;
                }
                p:last-child {
                    margin-top: 15px;
                }
                &__text {
                    padding: 33px 28px 41px 25px;
                }
            }
        }
    }
}