.section-cost {
    background-color: #F6F9FE;

    @include mobile {
        padding: 2rem 1.5rem;
    }

    .section-cost-container {
        &__block {
            margin-top: 2em;
            display: flex;
            justify-content: center;

            @include mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &--startap,
            &--business {
                z-index: 999;
                text-align: center;
                background: $color-white;
                box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                width: 414px;
                padding: 0;

                @include mobile {
                    width: 90%;
                }

                &-title {
                    border-radius: 10px 10px 0px 0px;
                    height: 62px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        font-family: $font-family-roboto;
                        font-weight: bold;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                    }
                }

                &-list {
                    ul {
                        padding: 1.2em 0px 1em 105px;

                        @include mobile {
                            padding: 1.2em 0px 1em 60px
                        }

                        li {
                            width: 265px;
                            text-align: left;
                            list-style-type: none;
                            list-style-image: url('../img/correct.svg');
                            font-family: $font-family-roboto;
                            font-weight: normal;
                            line-height: 21px;
                            font-size: 14px;
                            color: #000000;
                        }
                    }
                }

                &-cost {
                    font-family: $font-family-roboto;
                    text-align: center;

                    h1 {
                        font-weight: bold;
                        line-height: 1;
                        font-size: 64px;
                        color: rgba(0, 0, 0, 0.8);

                        span {
                            font-size: 18px;
                        }
                    }

                    p {
                        line-height: 19px;
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.6);

                        span {
                            font-weight: normal;
                            line-height: 15px;
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.8);
                        }
                    }
                }

                &-button {
                    border-radius: 3px;
                    margin-right: 90px;
                    margin-left: 90px;
                    @include mobile {
                        margin-right: 70px;
                        margin-left: 70px;
                    }
                    a {
                        text-decoration: none;
                        font-family: $font-family-roboto;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: 15px 12px 15px 12px;
                        @include mobile {
                            font-size: 14px;
                            padding: 5px 8px 5px 8px;
                        }
                    }
                }

                &-nocard {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 18px;
                    margin-bottom: 14px;

                    span {
                        font-family: $font-family-roboto;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 11px;
                        text-align: center;
                        color: #000000;
                        margin-left: 0.5rem;
                    }
                }
            }

            &--startap {
                margin-left: 1em;

                @include mobile {
                    margin-left: 0;
                    margin-bottom: 10%;
                }

                &-title {
                    background: #F1EDA5;
                }

                &-cost {
                    margin-top: 2.7em;
                }

                &-button {
                    background: #F0EDA5;
                    margin-top: 2.2em;

                    a {
                        color: #666666;
                    }
                }

                &-ad {
                    padding-top: .3rem;

                    span {
                        font-family: $font-family-roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        color: #000000;
                    }
                }
            }

            &--business {
                margin-left: 5em;

                @include mobile {
                    margin-left: 0;
                }

                &-title {
                    background: #27AE60;

                    h1 {
                        color: $color-white;
                    }
                }

                &-cost {
                    margin-top: 22px;
                }

                &-button {
                    background: #27AE60;
                    margin-top: 2.25em;

                    a {
                        color: $color-white;
                    }
                }

                &-nocard {
                    margin-top: 46px;

                }
            }
        }

        .block-tip-wrapper {
            position: relative;
            width: 475px;
            height: 217px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: -20px;
            z-index: 1;

            @include mobile {
                width: 90%;
                height: 300px;
            }

            .block-tip {
                position: absolute;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                background: #DDF4E9;
                border-radius: 5px;

                p {
                    font-family: $font-family-overpass;
                    line-height: 24px;
                    font-size: 14px;
                    letter-spacing: 0.02em;
                }

                p:first-child {
                    margin-bottom: 15px;
                }

                p:last-child {
                    margin-top: 15px;
                }

                &__text {
                    padding: 33px 28px 41px 25px;
                }
            }
        }
    }
}