.section.main {
    min-height: 518px;
    @include mobile {
        min-height: 100px;
    }
    @include tablet {
        min-height: 412px;
    }
    @include desktop {
        min-height: 412px;
    }
    @include widescreen {
        min-height: 409px;
    }
    @include fullhd {
        min-height: 500px;
    }
}

.main {
    background-color: $color-white;
}

.block-screen-wrapper {
    position: absolute;
    width: 1540px;
    height: 672.16px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 802px;
    background: #F6F9FE;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    @include mobile {
        width: 90%;
        top: 570px;
        height: 165.16px;
    }
    @include tablet {
        top: 90%;
        width: 90%;
        height: 505.16px;
    }
    @include desktop {
        top: 90%;
        width: 90%;
        height: 505.16px;
    }
    @include widescreen {
        top: 800px;
        width: 90%;
        height: 576.16px;
    }
    @include fullhd {
        top: 800px;
        width: 90%;
        height: 672.16px;
    }
    &__screen {
        background: url(../img/Service_Page.png);
        background-size: cover;
        width: 1435px;
        height: 648px;
        margin: auto;
        margin-top: 24px;
        box-shadow: 0px 0px 30px rgba(19, 39, 72, 0.25);
        @include mobile {
            width: 98%;
            height: 155px;
            margin-top: 10px;
        }
        @include tablet {
            width: 98%;
            height: 480px;
        }
        @include desktop {
            width: 98%;
            height: 480px;
        }
        @include widescreen {
            width: 90%;
            height: 551px;
        }
        @include fullhd {
            width: 1305px;
            height: 648px;
        }
    }
}

.block-tip-wrapper {
    position: absolute;
    width: 475px;
    height: 217px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 674.16px;
    z-index: -1;
    @include mobile {
        top: 167px;
        width: 90%;
        height: 270px;
    }
    @include tablet {
        top: 507px;
        width: 475px;
        height: 217px;
    }
    @include desktop {
        top: 507px;
        width: 475px;
        height: 217px;
    }
    @include widescreen {
        top: 577px;
        width: 475px;
        height: 217px;
    }
    @include fullhd {
        top: 675px;
        width: 475px;
        height: 217px;
    }
    .block-tip {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: #DDF4E9;
        border-radius: 5px;
        p {
            font-family: $font-family-overpass;
            line-height: 24px;
            font-size: 14px;
            letter-spacing: 0.02em;
        }
        p:first-child {
            margin-bottom: 15px;
        }
        p:last-child {
            margin-top: 15px;
        }
        &__text {
            padding: 33px 28px 41px 25px;
            @include mobile {
                padding: 10px 28px 41px 25px;
            }
            @include tablet {
                padding: 33px 28px 41px 25px;
            }
            @include desktop {
                padding: 33px 28px 41px 25px;
            }
            @include widescreen {
                padding: 33px 28px 41px 25px;
            }
            @include fullhd {
                padding: 33px 28px 41px 25px;
            }
        }
    }
}

.section-main-button {
    margin-top: 245px;
    margin-bottom: 17px;
    text-align: center;
    @include mobile {
        padding-top: 30%;
    }
    @include tablet {
        margin-top: 230px;
    }
    @include desktop {
        margin-top: 230px;
    }
    @include widescreen {
        margin-top: 240px;
    }
    @include fullhd {
        margin-top: 245px;
    }
    .main-button {
        font-family: $font-family-overpass;
        font-weight: 900;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        background: #27AE60;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        text-decoration: none;
        color: $color-white;
        display: inline-block;
        padding: 21px 34px 14px 34px;
    }
}

.section-feature {
    background-color: #F6F9FE;
    .container-fluid {
        .columns {
            text-align: center;
        }
    }
}